* {
  margin: 0;
  padding: 0;
}

#main-div {
  height: 100dvh;
  width: 100%;
}

#sub-div1 {
  padding: 1rem 0 0.5rem 0;
  height: 40%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
  border-radius: 0 0 3rem 3rem;
  border: 1px solid black;
  color: #fff;
  p {
    color: hsl(221, 100%, 96%);
  }
  p,
  div,
  h2 {
    margin-bottom: 1rem;
  }
  h1 {
    font-size: 3rem;
    margin-bottom: 0;
  }
}

#circular-section {
  border: none;
  border-radius: 7rem;
  background: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
  width: 8rem;
  height: 8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#test-details {
  margin-bottom: 0;
  width: 15rem;
  font-size: 1.1rem;
  line-height: 1.8rem;
  color: hsl(221, 100%, 96%);
}

#sub-div2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  h2 {
    margin: 1rem 0;
    width: 88%;
    display: flex;
    justify-content: left;
  }
}

.div2-items {
  border: none;
  border-radius: 0.6rem;
  width: 80%;
  height: 3.5rem;
  padding: 0 1rem;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .para {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 6.5rem;
  }
}

span {
  color: hsl(224, 30%, 27%);
}

#para1 {
  color: hsla(0, 100%, 67%);
}

#para2 {
  color: hsla(39, 100%, 56%);
}

#para3 {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 5.5rem;
  color: hsla(166, 100%, 37%);
}

#para4 {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 5.5rem;
  color: hsla(234, 85%, 45%);
}

#item1 {
  background-color: hsla(0, 100%, 67%, 0.1);
}

#item2 {
  background-color: hsla(39, 100%, 56%, 0.1);
}

#item3 {
  background-color: hsla(166, 100%, 37%, 0.1);
}

#item4 {
  background-color: hsla(234, 85%, 45%, 0.1);
}

button {
  width: 90%;
  height: 3rem;
  border-radius: 1.5rem;
  border: none;
  color: hsl(0, 0%, 100%);
  font-size: 1.3rem;
  background-color: hsl(224, 30%, 27%);
  margin-top: 1rem;
}

button:hover {
  background: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
  cursor: pointer;
}

@media screen and (min-width: 1024px) {
  body {
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #main-div {
    display: flex;
    height: 30rem;
    width: 43rem;
    border-radius: 1rem;
    overflow: hidden;
    background-color: hsl(0, 0%, 100%);
    box-shadow: 0px 0px 20px -10px;
  }

  #sub-div1 {
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 0 1rem 1rem 0;
    width: 50%;
    height: 95%;
    background-size: cover;
  }

  #first-para {
    font-size: 1.5rem;
  }

  #circular-section {
    margin-top: 1rem;
    width: 10rem;
    height: 10rem;
  }

  #test-details {
    width: 12.9rem;
  }

  #sub-div2 {
    width: 50%;
    height: 100%;
    padding: 2rem 0;
    h2 {
      width: 80%;
    }
  }

  .div2-items {
    width: 75%;
  }

  button {
    width: 80%;
  }
}
